.DS_Store

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# cimo +
symfony_fw/config/packages/framework.yaml
symfony_fw/public/.sass-cache
symfony_fw/public/files/microservice/api/basic/*
!symfony_fw/public/files/microservice/api/basic/.gitkeep
symfony_fw/src/files/microservice/api/basic/*
!symfony_fw/src/files/microservice/api/basic/.gitkeep
symfony_fw/src/files/microservice/cron/*
!symfony_fw/src/files/microservice/cron/.gitkeep
symfony_fw/src/files/microservice/deploy/*
!symfony_fw/src/files/microservice/deploy/.gitkeep
symfony_fw/src/files/microservice/selenium/*
!symfony_fw/src/files/microservice/selenium/.gitkeep
symfony_fw/src/files/setting/*
!symfony_fw/src/files/setting/.gitkeep
symfony_fw/src/Config.php
symfony_fw/var
symfony_fw/vendor

symfony_fw/src/files/ipCamera/*
!symfony_fw/src/files/ipCamera/.gitkeep

.digest_htpasswd
.env
error.log
debug.log
node_modules
Note.txt
