<div id="{% block panelId %}{% endblock %}" class="mdc-card module {% block panelClass %}{% endblock %}">
    <div class="title">
        {% block moduleHeaderIcon %}{% endblock %}
        <h1 class="mdc-typography--headline6">{% block moduleHeader %}{% endblock %}</h1>
    </div>
    <div class="mdc-typography--body2">{% block moduleContainer %}{% endblock %}</div>
    <div class="mdc-card__actions">{% block moduleFooter %}{% endblock %}</div>
</div>