<p>{% trans %}microserviceCronDelete_1{% endtrans %}</p>
<button id="cp_microservice_cron_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}microserviceCronDelete_2{% endtrans %}
</button>