<p>{% trans %}microserviceQunitDelete_1{% endtrans %}</p>
<button id="cp_microservice_qunit_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}microserviceQunitDelete_2{% endtrans %}
</button>