<p>{% trans %}microserviceUnitTestDelete_1{% endtrans %}</p>
<button id="cp_microservice_unit_test_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}microserviceUnitTestDelete_2{% endtrans %}
</button>