<p>{% trans %}microserviceSeleniumDelete_1{% endtrans %}</p>
<button id="cp_microservice_selenium_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}microserviceSeleniumDelete_2{% endtrans %}
</button>