<p>{% trans %}microserviceCronDelete_1{% endtrans %}</p>
<button id="cp_microservice_cron_delete" class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg" type="button">
    {% trans %}microserviceCronDelete_2{% endtrans %}
</button>