<p>{% trans %}microserviceDeployDelete_1{% endtrans %}</p>
<button id="cp_microservice_deploy_delete" class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg" type="button">{% trans %}microserviceDeployDelete_2{% endtrans %}</button>