<p>{% trans %}pageDelete_1{% endtrans %}</p>
<button id="cp_page_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}pageDelete_2{% endtrans %}
</button>