<p>{% trans %}paymentDelete_1{% endtrans %}</p>
<button id="cp_payment_delete" class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg" type="button">
    {% trans %}paymentDelete_2{% endtrans %}
</button>