<p>{% trans %}paymentDelete_1{% endtrans %}</p>
<button id="cp_payment_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}paymentDelete_2{% endtrans %}
</button>