<p>{% trans %}roleUserDelete_1{% endtrans %}</p>
<button id="cp_roleUser_delete" class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg" type="button">{% trans %}roleUserDelete_2{% endtrans %}</button>