<p>{% trans %}roleUserDelete_1{% endtrans %}</p>
<button id="cp_roleUser_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">
    {% trans %}roleUserDelete_2{% endtrans %}
</button>