<p>{% trans %}userDelete_1{% endtrans %}</p>
<button id="cp_user_delete" class="mdc-button mdc-button--dense mdc-button--raised mdc-theme--secondary-bg" type="button">
    {% trans %}userDelete_2{% endtrans %}
</button>