<fieldset class="accordion_container">
    <legend>{% trans %}apiBasicSelect_1{% endtrans %}</legend>
    <p>{% trans %}apiBasicSelect_2{% endtrans %}</p>
    <button class="mdc-button mdc-button--dense mdc-button--raised button_accordion" type="button">{% trans %}index_9{% endtrans %}</button>
    <div class="accordion">
        {% form_theme form "@templateRoot/layout/layout_form_materialDesign.html.twig" %}

        <form id="form_cp_apiBasic_select" action="{{path("cp_apiBasic_profile", {'_locale': urlLocale, 'urlCurrentPageId': urlCurrentPageId, 'urlExtra': urlExtra})}}" method="post" novalidate="novalidate">
            {{form_row(form.id)}}

            {{form_widget(form._token)}}

            {{form_widget(form.submit, {'dense': "", 'raised': ""})}}
        </form>
        <div id="cp_apiBasic_select_result"></div>
    </div>
</fieldset>