<p>{% trans %}myPagePaymentDelete_1{% endtrans %}</p>
<button id="myPage_payment_delete" class="mdc-button mdc-button--dense mdc-button--raised button_warning" type="button">{% trans %}myPagePaymentDelete_2{% endtrans %}</button>