@import "utility.scss";

$logoTextColor: #4089c9;

$panelBackgroundColor: #ffffff;
$panelBorder: none;
$panelHeadingBorder: 1px solid #e7e7e7;
$panelBodyBorder: none;

$buttonCustomBackgroundColor: #337ab7;
$buttonCustomColor: #ffffff;
$buttonCustomBorder: 1px solid #2e6da4;
$buttonCustomBorderRadius: 4px;
$buttonCustomHoverBackgroundColor: #286090;
$buttonCustomHoverColor: #ffffff;
$buttonCustomHoverBorderColor: #204d74;
$buttonCustomActiveBackgroundColor: #204d74;
$buttonCustomActiveColor: #ffffff;
$buttonCustomActiveBorderColor: #122b40;
$buttonCustomFocusColor: #ffffff;

$buttonCustomSuccessBackgroundColor: #5cb85c;
$buttonCustomSuccessColor: #ffffff;
$buttonCustomSuccessBorder: 1px solid #4cae4c;
$buttonCustomSuccessBorderRadius: 4px;
$buttonCustomSuccessHoverBackgroundColor: #449d44;
$buttonCustomSuccessHoverColor: #ffffff;
$buttonCustomSuccessHoverBorderColor: #398439;
$buttonCustomSuccessActiveBackgroundColor: #449d44;
$buttonCustomSuccessActiveColor: #ffffff;
$buttonCustomSuccessActiveBorderColor: #398439;
$buttonCustomSuccessFocusColor: #ffffff;

$buttonCustomDangerBackgroundColor: #d9534f;
$buttonCustomDangerColor: #ffffff;
$buttonCustomDangerBorder: 1px solid #d43f3a;
$buttonCustomDangerBorderRadius: 4px;
$buttonCustomDangerHoverBackgroundColor: #c9302c;
$buttonCustomDangerHoverColor: #ffffff;
$buttonCustomDangerHoverBorderColor: #ac2925;
$buttonCustomDangerActiveBackgroundColor: #c9302c;
$buttonCustomDangerActiveColor: #ffffff;
$buttonCustomDangerActiveBorderColor: #ac2925;
$buttonCustomDangerFocusColor: #ffffff;

$buttonSearchBackgroundColor: #000000;
$buttonSearchColor: #ffffff;

$authenticationBackgroundColor: #f4f4f4;

@include fontFace("pt_sans", "../../fonts/pt_sans");
@include fontFace("archivo_black", "../../fonts/archivo_black");

@media(max-width: $widthMobile) {
    #apparatus_file_table .search_input {
        width: 100%;
    }
}
@media(min-width: $widthDesktop) {
    #apparatus_file_table .search_input {
        width: 50%;
    }
}

body {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    min-height: 100%;
    
    font-family: "pt_sans", sans-serif;
    font-size: 14px;
}

table, .table {
    font-family: "pt_sans", sans-serif;
    font-size: 14px;
    margin-bottom: 0;
}

p {
    margin: 0;
}

.logo_big {
    .logo_svg {
        width: 100px;
    }
    
    .logo_text {
        font-family: "archivo_black", sans-serif;
        display: inline-block;
        position: relative;
        top: 10px;
        font-size: 40px;
        color: $logoTextColor;
        text-transform: uppercase;
        font-weight: bold;
    }
}
.logo_small {
    .logo_svg {
        width: 30px;
    }
    
    .logo_text {
        font-family: "archivo_black", sans-serif;
        display: inline-block;
        position: relative;
        font-size: 10px;
        color: $logoTextColor;
        text-transform: uppercase;
        font-weight: bold;
    }
}

.image_preload {
    min-height: 40px;
    min-width: 40px;
    background: url("../../images/templates/basic/image_preload.gif") no-repeat 50% 50%;
}

.form_title {
    visibility: hidden;
    margin: 0;
    font-size: initial;
}

.panel {
    position: relative;
    background-color: $panelBackgroundColor;
    border: $panelBorder;
    padding-right: 0;
    padding-left: 0;
    
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-filter: none;
    filter: none;
    box-shadow: none;
}
.panel_clean {
    position: relative;
}

.panel-heading {
    padding: 10px 15px;
    border-bottom: $panelHeadingBorder;
}
.panel-body {
    padding: 15px;
    border: $panelBodyBorder;
}

.button_custom {
    display: inline-block;
    padding: 5px 12px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 2px;
    margin-right: 2px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    text-decoration: none;
    outline: 0;
    background-color: $buttonCustomBackgroundColor;
    color: $buttonCustomColor;
    border: $buttonCustomBorder;
    border-radius: $buttonCustomBorderRadius;

    &:hover {
        text-decoration: none;
        background-color: $buttonCustomHoverBackgroundColor;
        color: $buttonCustomHoverColor;
        border-color: $buttonCustomHoverBorderColor;
    }
    &:active {
        text-decoration: none;
        background-color: $buttonCustomActiveBackgroundColor;
        color: $buttonCustomActiveColor;
        border-color: $buttonCustomActiveBorderColor;
    }
    &:focus {
        text-decoration: none;
        color: $buttonCustomFocusColor;
    }
}
.button_custom_success {
    @extend .button_custom;
    
    background-color: $buttonCustomSuccessBackgroundColor;
    color: $buttonCustomSuccessColor;
    border: $buttonCustomSuccessBorder;
    border-radius: $buttonCustomSuccessBorderRadius;

    &:hover {
        text-decoration: none;
        background-color: $buttonCustomSuccessHoverBackgroundColor;
        color: $buttonCustomSuccessHoverColor;
        border-color: $buttonCustomSuccessHoverBorderColor;
    }
    &:active {
        text-decoration: none;
        background-color: $buttonCustomSuccessActiveBackgroundColor;
        color: $buttonCustomSuccessActiveColor;
        border-color: $buttonCustomSuccessActiveBorderColor;
    }
    &:focus {
        text-decoration: none;
        color: $buttonCustomSuccessFocusColor;
    }
}
.button_custom_danger {
    @extend .button_custom;
    
    background-color: $buttonCustomDangerBackgroundColor;
    color: $buttonCustomDangerColor;
    border: $buttonCustomDangerBorder;
    border-radius: $buttonCustomDangerBorderRadius;

    &:hover {
        text-decoration: none;
        background-color: $buttonCustomDangerHoverBackgroundColor;
        color: $buttonCustomDangerHoverColor;
        border-color: $buttonCustomDangerHoverBorderColor;
    }
    &:active {
        text-decoration: none;
        background-color: $buttonCustomDangerActiveBackgroundColor;
        color: $buttonCustomDangerActiveColor;
        border-color: $buttonCustomDangerActiveBorderColor;
    }
    &:focus {
        text-decoration: none;
        color: $buttonCustomDangerFocusColor;
    }
}

.button_search {
    cursor: pointer;
    position: absolute;
    width: 33px;
    height: 34px;
    background-color: $buttonSearchBackgroundColor;
    border-radius: 4px;
    z-index: 4;

    i {
        position: absolute;
        top: 10px;
        left: 10px;
        color: $buttonSearchColor;
    }
}

.authentication {
    display: block;
    position: initial;
    width: 250px;
    margin: auto;
    background-color: $authenticationBackgroundColor;
    padding-right: 15px;
    padding-left: 15px;
    
    .panel-heading {
        padding: 10px 0;
    }
    
    .panel-body {
        border: none !important;
        padding: 15px 0;
    }
}

.remember_me_fix {
    margin: 5px 0 5px 10px !important;
    display: inline-block !important;
}

.accordion_container {
    .title {
        cursor: pointer;
    }
    
    .content {
        display: none;
    }
}

.apparatus_tab_container {
    padding: 0 15px;
    border: 1px solid #dddddd;
    border-top: 0;
}

.apparatus_control {
    width: 50px;
    cursor: pointer;
}

.apparatus_control_picture {
    vertical-align: middle;
}

.bootstrap-switch-id-apparatus_control_swipe_switch {
    margin-right: 20px;
}

#recover_password {
    width: 300px;
    margin: auto;
}

#apparatus_video_area {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    @include opacity(0.5);
}

#apparatus_video_result {
    position: relative;
}

#control_container {
    .panel-body {
        min-height: 206px;
    }
}