<div class="graph_container">
    <canvas class="canvas" width="1400" height="720">Canvas not supported!</canvas>
    <div class="info">
        <p><span></span></p>
        <p><b>- Name:</b> <span></span></p>
        <p><b>- Items:</b> <span></span></p>
    </div>
</div>