<div class="processLock">
    <i class="material-icons close" disabled="disabled">close</i>
    <div class="content">
        <p>{% trans %}process_lock_1{% endtrans %}</p>
        <p class="status"></p>

        {{-include("@templateRoot/include/progress_bar.html.twig")-}}

    </div>
    <div class="result"></div>
</div>
<script nonce="{{php_session.xssProtectionValue}}">
    "use strict";
    
    window.textProcessLock = {
        'label_1': "{{"process_lock_2"|trans}}",
        'label_2': "{{"process_lock_3"|trans}}"
    };
</script>