<div class="upload_chunk">
    <div class="form_row">
        <div class="material_upload">
            <button class="mdc-button mdc-button--dense mdc-button--raised" type="button">
                <i class="material-icons mdc-button__icon">cloud_upload</i>
                <span>{{label}}</span>
            </button>
            <p class="material_upload_label"></p>
            <input class="file" type="file" name="file" autocomplete="off" aria-label="label">
        </div>
    </div>
    
    {{-include("@templateRoot/include/progress_bar.html.twig")-}}
    
    <div class="controls">
        <button class="mdc-button mdc-button--dense mdc-button--raised button_start" type="button">
            <i class="material-icons mdc-button__icon">play_arrow</i>
            <span>{% trans %}upload_chunk_1{% endtrans %}</span>
        </button>
        <button class="mdc-button mdc-button--dense mdc-button--raised button_stop" type="button" disabled="disabled">
            <i class="material-icons mdc-button__icon">stop</i>
            <span>{% trans %}upload_chunk_2{% endtrans %}</span>
        </button>
    </div>
    
    {{-include("@templateRoot/include/process_lock.html.twig")-}}
</div>