<div class="upload_chunk">
    <div class="form_row">
        <div class="material_upload">
            <button class="mdc-fab" type="button" aria-label="label">
                <span class="mdc-fab__icon material-icons">cloud_upload</span>
            </button>
            <label>{{label}}</label>
            <input class="file" type="file" name="file" autocomplete="off" aria-label="label">
        </div>
    </div>
    
    {{-include("@templateRoot/include/progress_bar.html.twig")-}}
</div>
<script>
    var textUpload = {
        'label_1': "{{"upload_1"|trans}}"
    };
</script>