@import "helper.scss";

$barBackgroundImage: url("../../images/templates/basic/16-9.jpg");
$footerHeight: 80px;
$borderColor: #dee2e6;
$moduleBackgroundColor: #ececec;
$boxBackgroundColor: #ededed;

@media(max-width: $widthMobile) {
    .main {
        .sortable_column {
            padding-top: 55px !important;
            
            form {
                .mdc-text-field, .mdc-select {
                    width: 100% !important;
                }
            }
        }
    }
    
    .sort_container {
        .sort_list {
            i {
                cursor: pointer !important;
            }
        }
        
        .sort_control {
            display: block !important;
        }
    }
    
    .menu_root_container {
        .mdc-list-item {
            position: relative;
            
            .parent_icon {
                margin-right: 0;
                position: absolute;
                right: 0;
                padding: 12px;
            }
        }
        
        .children_container {
            display: none;
        }
    }
}
@media(min-width: $widthDesktop) {
    .menu_root_container {
        position: absolute;
        left: 200px;
        bottom: 0;
        z-index: 100;

        ul {
            display: flex;
            list-style: none;
            padding: 0;

            .parent {
                &:hover > .parent_content {
                    display: block !important;
                    background-color: $mdc-theme-primary;
                }

                .material-icons {
                    vertical-align: middle;
                    color: $mdc-theme-on-primary;
                }

                &> .target {
                    cursor: pointer;
                    padding: 18px;
                    border-bottom: 2px solid transparent;
                    text-decoration: none;

                    span {
                        color: $mdc-theme-on-primary;
                    }

                    &:hover, &.current {
                        background-color: rgba(0, 0, 0, 0.1);

                        &:not(.target_clean) {
                            border-bottom: 2px solid $mdc-theme-secondary;
                        }
                    }
                }

                &> .parent_icon {
                    display: none;
                }
                &> .parent_content {
                    display: none;
                    position: absolute;
                    width: 200px;
                    top: 56px;
                    border-bottom: 2px solid $mdc-theme-secondary;

                    .children_container {
                        display: block;

                        .parent {
                            position: relative;

                            .material-icons {
                                padding-bottom: 2px;
                            }

                            .target {
                                display: block;
                                padding: 10px;
                                border-bottom: none;
                                
                                span {
                                    display: inline-block;
                                    width: 84%;
                                }

                                &:hover {
                                    background-color: rgba(0, 0, 0, 0.1);
                                }
                            }

                            .parent_icon {
                                display: none;
                            }
                            .parent_content {
                                position: absolute;
                                top: 5px;
                                left: 200px;
                                border-bottom: none;
                            }
                        }
                    }
                }
            }
        }
    }
    
    #setting_language_manage_container {
        width: 50%;
    }
}
@media(max-width: "599px") {
    .main {
        .sortable_column {
            padding-top: 45px !important;
        }
    }
    
    .microservice_api_card {
        display: block !important;
        margin: 20px auto !important;
    }
    
    .graph_container {
        overflow-y: scroll;
    }
}

html, body {
    margin: 0;
    padding: 0;
    
}
html {
    height: 100%;
}
body {
    position:relative;
    min-height:100%;
}

table {
    width: 100%;
    border-collapse: collapse;
    
    thead {
        tr {
            th {
                position: relative;
                padding: 0 24px 0 24px;
                text-align: center;
                border-bottom: 2px solid $borderColor;
                cursor: pointer;

                i {
                    top: 0;
                    right: 0;
                    position: absolute;
                }
            }
        }
    }
    tbody {
        tr {
            td {
                text-align: center;
                border-bottom: 1px solid $borderColor;
                padding: 5px;
            }
        }
    }
}

pre {
    white-space: pre-wrap;
}

.logo_main_big {
    display: block;
    width: 70px;
    margin: auto;
}
.logo_main_small {
    width: 45px;
    margin-top: 8px;
}

.maintenance_container {
    img {
        width: 100px;
    }
}

.main {
    .sortable_column {
        padding-top: 120px;
        padding-bottom: $footerHeight;
        
        form {
            .mdc-text-field, .mdc-select {
                @include user_select_none();
                
                width: 100%;
            }
            .mdc-select {
                margin-bottom: 10px;
            }
        }
    }
}

.footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    
    position: absolute;
    bottom: 0;
    width: 100%;
    height: $footerHeight;
    
    .icon {
        div {
            display: inline-block;
            margin: 5px 10px;
        }
    }
    
    .text {
        p {
            margin: 0;
            font-size: 12px;
        }
    }
}

.module, .module_clean {
    padding: 5px;
    overflow: hidden;
    
    .drag {
        cursor: move;
    }
    
    .title {
        i, h1 {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
        }
    }
    
    .mdc-card__actions {
        min-height: auto !important;
        padding: 0;
    }
    
    .form_row {
        .mdc-text-field--box, .mdc-text-field--outlined, .mdc-text-field__basic {
            margin-top: 8px;
            margin-bottom: 0;
        }
        
        .mdc-text-field__basic, .mdc-text-field__basicTrailing {
            i {
                margin-bottom: 5px;
            }
        }
        
        .mdc-select{
            height: 48px;
        }
        
        .mdc-text-field-helper-text {
            margin: 0;
        }
    }
}

.module {
    width: 100%;
    margin: auto;
    border: 1px solid $borderColor;
    background-color: $moduleBackgroundColor;
    
    .title {
        border-bottom: 1px solid $borderColor;
    }
}

.page_container {
    .header {
        h1 {
            margin: 0;
        }
    }
    .controllerAction {
        padding: 10px;
    }
}
.page_footer {
    width: 100%;
}
.page_detail {
    text-align: right;
}

.accordion_container {
    position: relative;
    margin: 10px 0;
    
    &> p {
        margin-top: 30px;
    }

    .button_accordion {
        position: absolute;
        top: 8px;
        right: 5px;
    }

    .accordion {
        height: 0;
        overflow: hidden;
    }
    .accordion_active {
        height: auto;
    }
}

.sort_container {
    &> p {
        .material-icons {
            vertical-align: middle;
            margin-top: -1px;
        }
    }
    
    .sort_list {
        padding: 0;

        li {
            list-style-type: none;
            margin: 5px;
            display: inline-block;

            i {
                cursor: move;
            }
        }
    }
    .sort_control {
        display: none;
        margin-bottom: 10px;
    }
}

.sortable_placeholder {
    border: 1px dotted black;
}

.wordTag_container {
    .mdc-chip{
        margin: 5px;
    }
}

.user_login {
    max-width: 300px;
}

.cursor_custom {
    cursor: pointer;
}

.graph_container {
    height: 400px;
}

.wysiwyg {
    .toolbar {
        .select_format, .select_font {
            width: 120px !important;
        }
    }
}

.info_field {
    margin-bottom: 0;
}

.cp_menu {
    width: 100%;
    
    .material-icons {
        margin-right: 5px;
    }
    
    .title_group {
        margin: 0 0 0 10px;
    }
}
.cp_section_button {
    margin-bottom: 10px;
}
.cp_system_info {
    .mdc-list-item {
        height: auto;
    }
}
.cp_line_push_user {
    .mdc-list-item {
        height: auto;
    }
}

.microservice_deploy_group {
    .container {
        display: inline-block;
        
        .material_upload_label {
            margin: 0;
        }
    }
}

.microservice_api_card {
    display: inline-block;
}
.microservice_api_log {
    height: 300px;
    overflow-y: scroll;
    padding: 10px;
    background-color: #000000;
    color: white;
}

.material_upload {
    label {
        vertical-align: super;
    }
    
    input {
        display: none;
    }
}

.mdc-top-app-bar {
    z-index: 1000;
    
    .mdc-top-app-bar__row {
        -webkit-transition: all 0.4s ease-out;
        -moz-transition: all 0.4s ease-out;
        -o-transition: all 0.4s ease-out;
        transition: all 0.4s ease-out;
        
        background-image: $barBackgroundImage;
        background-size: cover;
        background-position: center;
        
        .mdc-top-app-bar__title {
            padding: 0;
        }
    }
}
.mdc-top-app-bar_shrink {
    height: 64px !important;
}

.mdc-drawer__header {
    background-image: $barBackgroundImage;
    height: 120px;
    
    .mdc-drawer__header-content {
        img {
            margin: 10px;
        }
        
        span {
            color: $mdc-theme-on-primary;
        }
    }
}

.mdc-button {
    margin-top: 5px;
    
    i {
        margin-top: -2px;
    }
}

.mdc-tab-bar {
    margin: 0;
}

.mdc-tab-bar-scroller {
    .mdc-tab-bar-scroller__indicator {
        width: auto;
    }
}

.mdc-list {
    border: 1px solid rgba(0,0,0,.12);
    padding: 0;
}

.mdc-chip {
    @include user_select_none();
}
.mdc-chip--selected {
    .mdc-chip__icon--leading {
        opacity: 1 !important;
    }
}

.mdc-dialog {
    z-index: 1100;
}

.mdc-menu-anchor {
    align-self: flex-start;
}

.mdc-card:not(.module) {
    border-radius: 24px 4px;
    width: 250px;
    margin: 10px;
    
    .mdc_card_header {
        display: flex;
        border-top-left-radius: inherit;
        min-height: 135px;
        
        .mdc-card__media {
            width: 110px;
            border-top-left-radius: inherit;
            
            img {
                width: 80px;
                position: absolute;
                top: 0;
            }
        }
        
        .mdc_card_description {
            padding: 10px;
        }
    }
}

.mdc-snackbar__action-button {
    opacity: 1;
    visibility: visible;
}

.mdc-dialog__surface {
    .mdc-dialog__header__title {
        p {
            margin: 0;
        }
    }
}

.mdc-text-field--textarea {
    .mdc-text-field__input {
        resize: none;
    }
}

.mdc_input_readonly {
    position: relative;

    .mdc-floating-label {
        bottom: 20px !important;
    }

    p {
        margin: 30px 0 8px 0 !important;
        height: 19px;
    }
}

.button_svg {
    height: 39px;
    
    img {
        width: 29px;
        height: 29px;
        margin-right: 10px;
        margin-top: 5px;
        margin-bottom: 5px;
        display: block;
    }
    
    span {
        height: 29px;
    }
}

.download_detail_text {
    display: inline-block;
}
.download_detail_container {
    display: none;
    border: 1px dotted #000000;
    padding: 10px;
    width: 50%;
    margin-top: 10px;
    
    button {
        display: block;
        margin-bottom: 14px;
    }
}

.avatar {
    max-width: 150px;
    max-height: 150px;
    border: 1px solid #000000;
}

.upload_container {
    .input {
        margin: 0 0 5px 5px;
        
        .form_row {
            display: inline-block;
            
            .material_upload {
                .mdc-button {
                    padding: 0 !important;
                    min-width: 35px !important;
                }
                
                .material-icons {
                    margin: 0 !important;
                }
            }
            
            .mdc-form-field {
                .mdc-checkbox {
                    margin-top: 5px !important;
                }

                label {
                    margin-top: 5px !important;
                }
            }
        }
    }
}

.attemptLogin_reset_text {
    display: inline-block;
    margin-bottom: 0;
}

.square_code {
    background-color: #c6c6c6;
    border: 1px dotted #000000;
    padding: 10px;
    word-wrap: break-word;
    white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
}

.icon_logo {
    width: 30px;
}

#body_progress {
    display: block;
    height: 100%;
    background-color: #ffffff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 2000;
}

#panel_id_1 {
    p {
        margin: 0;
    }
    
    .mdc-text-field {
        width: 100%;
    }
    
    .submit_container {
        button {
            margin-top: 0;
            width: 100%;
        }
    }
    
    .link_container {
        margin-top: 5px;
        text-align: center;
        
        a {
            display: block;
            text-decoration: none !important;
        }
    }
    
    .button_container {
        a {
            width: 100%;
        }
    }
}

#language_text_container {
    .mdc-list-item {
        span {
            img {
                display: inline-block;
                vertical-align: middle;
                margin-right: 10px;
            }
        }
    }
}

#page_rankMenuSort {
    &> p {
        vertical-align: middle;
        margin-bottom: 2px;
    }
}

#pageComment_result {
    .mdc-list-item {
        height: auto;
        padding: 10px;
        
        .detail {
            margin: 0;
            font-size: 11px;
        }
        
        .quote {
            margin: 0;
            display: block;
            background: $boxBackgroundColor;
            padding: 10px;
            border-radius: 20px;
            white-space: initial !important;
            
            .quote_avatar {
                width: 40px;
                height: 40px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 5px;
                border-radius: 50%;
            }
        }
        
        .argument {
            margin: 0;
            padding: 10px 10px 0 10px;
        }
        
        .mdc-list-item__meta {
            cursor: pointer;
            z-index: 100;
        }
    }
}

#setting_language_manage_container {
    display: none;
    background-color: $boxBackgroundColor;
    padding: 10px;
    
    &> p {
        margin: 0;
    }
}

#unit_test_code_row .mdc-text-field {
    width: 100%;
}

#attemptLogin_reset {
    margin-top: -3px;
}

#form_microservice_unit_test_code {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

#form_pageComment {
    .mdc-text-field--textarea {
        width: 100%;
    }
}

#form_cp_setting_save {
    .template_column {
        margin-bottom: 10px;
        
        p {
            margin: 0;
        }
        
        &> div {
            display: inline-block;
            margin-left: 35px;
            
            .mdc-form-field {
                vertical-align: top;
            }
            
            img {
                margin-left: 10px;
                display: block;
            }
        }
    }
}

#cp_microservice_deploy_render_result {
    margin-top: 10px;
    
    .list_command {
        height: auto;
    }
}
#cp_microservice_deploy_ssh_connection_result {
    margin-top: 20px;
}

:root {
    --mdc-theme-primary: #{$mdc-theme-primary};
    --mdc-theme-on-primary: #{$mdc-theme-on-primary};
    
    --mdc-theme-secondary: #{$mdc-theme-secondary};
    --mdc-theme-on-secondary: #{$mdc-theme-on-secondary};
    
    --mdc-theme-background: #{$mdc-theme-background};
    
    --mdc-theme-surface: #{$mdc-theme-surface};
    --mdc-theme-on-surface: #{$mdc-theme-on-surface};
}

::placeholder {
    color: $mdc-theme-on-primary;
    opacity: 1;
}
::-ms-input-placeholder {
    color: $mdc-theme-on-primary;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px $mdc-theme-on-surface; 
}
::-webkit-scrollbar-thumb {
    background: $mdc-theme-primary; 
}
::-webkit-scrollbar-thumb:hover {
    background: $mdc-theme-secondary; 
}