@import "helper.scss";

@media(max-width: $widthMobile) {
    .video_container {
        width: 100% !important;
    }
    
    .command_container {
        display: block !important;
        margin: auto !important;
        width: 400px !important;
        height: 150px !important;
        
        .action_container {
            top: -100px !important;
            left: 200px !important;
        }
    }
}

.page_container {
    .video_container {
        display: inline-block;
        width: 70%;
        
        .video_loading {
            display: block;
            text-align: center;
            font-size: 50px;
        }
        
        .video {
            display: none;
            width: 100%;
        }
    }
    
    .command_container {
        display: inline-block;
        vertical-align: top;
        margin: 9% 0 0 9%;
        height: 250px;
        
        .icon {
            position: absolute;
            font-size: 50px;
            cursor: pointer;
        }
        
        .move_container {
            width: 150px;
            height: 150px;
            position: relative;
            
            .move_up {
                top: 0;
                left: 50px;
            }
            .move_right {
                top: 50px;
                left: 100px;
            }
            .move_down {
                top: 100px;
                left: 50px;
            }
            .move_left {
                top: 50px;
                left: 0;
            }
        }
        
        .action_container {
            width: 150px;
            height: 50px;
            position: relative;
            top: 50px;
            
            .action_video {
                top: 0;
                left: 0;
            }
            .action_photo {
                top: 0;
                left: 100px;
            }
        }
    }
}

#cp_ipCamera_file {
    .cp_ipCamera_file_download {
        .material-icons {
            vertical-align: middle;
            margin: -2px 0px 0px 0px;
        }
        
        p {
            display: inline-block;
            argin: 6px 0px 0px 0px;
        }
    }
}