@import "utility.scss";

@media(max-width: $widthMobile) {
    .video_container {
        width: 100% !important;
    }
    
    .command_container {
        display: block !important;
        margin: 0 !important;
    }
}
@media(min-width: $widthDesktop) {
}
@media(max-width: "599px") {
}

.page_container {
    .video_container {
        display: inline-block;
        width: 70%;
        
        .video {
            display: block;
            width: 100%;
        }
    }
    
    .command_container {
        display: inline-block;
        vertical-align: top;
        position: absolute;
        margin: 0 10%;
        
        .icon {
            position: absolute;
            font-size: 50px;
            cursor: pointer;
        }
        
        .move_container {
            width: 150px;
            height: 150px;
            position: relative;
            
            .move_up {
                top: 0;
                left: 50px;
            }
            .move_right {
                top: 50px;
                left: 100px;
            }
            .move_down {
                top: 100px;
                left: 50px;
            }
            .move_left {
                top: 50px;
                left: 0;
            }
        }
        
        .action_container {
            width: 150px;
            height: 150px;
            position: relative;
            
            .action_video {
                
            }
            .action_photo {
                
            }
        }
    }
}

#cp_ipCamera_file {
    .cp_ipCamera_file_download {
        .material-icons {
            vertical-align: middle;
            margin: -2px 2px 0 0;
        }
        
        p {
            display: inline;
        }
    }
}