$color1: #008744;
$color2: #0057e7;
$color3: #d62d20;
$color4: #ffa700;

$backBackgroundColor: #000000;

$backgroundColor: #ffffff;
$borderColor: #000000;

$width: 50px;

.loader_back {
    display: none;
    position:fixed;
    width:100%;
    left:0;
    right:0;
    top:0;
    bottom:0;
    background-color: $backBackgroundColor;
    opacity: 0.7;
    filter: alpha(opacity=70);
    z-index: 1200;
}
.loader {
    display: none;
    position: fixed;
    top: 30%;
    left: 50%;
    margin-top: -25px;
    margin-left: -25px;
    z-index: 1201;
    background-color: $backgroundColor;
    border: 1px solid $borderColor;
    border-radius: 50%;
    width: $width;
  
    &:before {
        content: "";
        display: block;
        padding-top: 100%;
    }
    
    .circular {
        height: 100%;
        transform-origin: center center;
        width: 100%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;

        animation: rotate 2s linear infinite;
    }
    
    .path {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
        stroke-linecap: round;

        animation: dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite;
    }
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes dash {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}
@keyframes color {
    100%, 0% {
        stroke: $color1;
    }
    40% {
        stroke: $color2;
    }
    66% {
        stroke: $color3;
    }
    80%, 90% {
        stroke: $color4;
    }
}