@import "helper.scss";

@media(max-width: $widthMobile) {
    .upload_chunk {
        width: 100% !important;
    }
}
@media(min-width: $widthDesktop) {
}
@media(max-width: "599px") {
}

.upload_chunk {
    margin: 10px 0 10px 0;
    width: 50%;
    
    .mdc-linear-progress {
        display: none;
        margin: 10px 0;
    }
    
    .controls {
        display: none;
    }
    
    .popupWait {
        display: none;
        position: fixed;
        top: 25%;
        right: 0;
        left: 25%;
        width: 40%;
        padding: 5%;
        border: 1px solid #cecece;
        background-color: #fff;
        z-index: 1201;
        
        .close {
            position: absolute;
            top: 10px;
            right: 10px;
            cursor: pointer;
        }
        
        .content {
            .status {
                text-align: right;
            }
            
            .mdc-linear-progress {
                display: block !important;
            }
        }
        
        .result {
            display: none;
        }
    }
}