@import "helper.scss";

@media(max-width: $widthMobile) {
    .wysiwyg {
        .toolbar {
            .mdc-fab {
                margin: 2px 0 2px 0;
            }
        }
    }
}

.wysiwyg {
    position: relative;
    margin-top: 10px;
    
    .toolbar {
        i {
            display: inline-block;
            cursor: pointer;
            border: 1px solid #000000;
            border-radius: 5px;
            margin: 2px;
        }
        
        input, select {
            display: inline-block;
            position: relative;
            top: -5px;
        }
        
        .icon_container {
            display: inline-block;
        }
    }
    
    .editor {
        border: 1px solid;
        width: 100%;
        height: 700px;
        margin-top: 10px;
    }
    
    .source {
        display: none;
        border: 1px solid;
        height: 700px;
        background-color: #faf9f9;
        padding: 5px;
        overflow-y: scroll;
        margin-top: 10px;
    }
}