<div class="error_page">
    <p class="mdc-typography--headline1">{% trans %}error_1{% endtrans %} {{app.request.get("error")}}</p>
    <p class="mdc-typography--headline3">{% trans %}error_2{% endtrans %}</p>
    <a class="mdc-button mdc-button--dense mdc-button--raised" href="{{path("root_render", {'_locale': urlLocale, 'urlCurrentPageId': 2, 'urlExtra': ""})}}" type="button">Home</a>
</div>
<script nonce="{{php_session.xssProtectionValue}}">
    "use strict";

    window.addEventListener("DOMContentLoaded", (event) => {
        if (document.querySelector("body .column_left_container") !== null)
            document.querySelector("body .column_left_container").remove();

        if (document.querySelector("body .column_right_container") !== null)
            document.querySelector("body .column_right_container").remove();

        document.querySelector("body .column_center_container").className = "mdc-layout-grid__cell mdc-layout-grid__cell--span-12 mdc-layout-grid__cell--span-12-tablet column_center_container";
    }, false);
</script>