@import "utility.scss";

.logo_big {
    display: none;
    margin: 0px 0px 0px 10px;
    
    img {
        width: 100px;
    }
    
    p {
        position: relative;
        top: 15px;
        font-family: "acme", sans-serif;
        font-size: 50px;
        color: #ffffff;
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
        margin: 0;
    }
}
.logo_small {
    display: none;
    margin: 10px 0px 10px 15px;
    
    img {
        width: 30px;
    }
    
    p {
        position: relative;
        top: 5px;
        font-family: "acme", sans-serif;
        font-size: 20px;
        color: #ffffff;
        text-shadow: 2px 0 0 #000000, -2px 0 0 #000000, 0 2px 0 #000000, 0 -2px 0 #000000, 1px 1px #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000;
        margin: 0;
    }
}

.image_preload {
    min-height: 40px;
    min-width: 40px;
    background: url(../images/templates/basic/image_preload.gif) no-repeat 50% 50%;
}

@media(max-width: $maxWidth) {
}
@media(min-width: $minWidth) {
}

.camera_tab_container {
    padding: 0 15px;
    border: 1px solid #dddddd;
    border-top: 0;
}

.camera_controls {
    width: 50px;
    cursor: pointer;
}

.bootstrap-switch-id-camera_control_swipe_switch {
    margin-right: 20px;
}

.camera_control_picture {
    vertical-align: middle;
}

#camera_video_area {
    display: none;
    position: absolute;
    top: 0;
    left: 50%;
    width: 100%;
    height: 100%;
    background-color: #ff0000;
    @include opacity(0.5);
}

#camera_video_result {
    position: relative;
}