{% if response.values is defined %}
    <div class="video_container">
        {{response.values.video|raw}}
    </div>
    <div class="command_container">
        <p>Commands</p>
    </div>
    <script>
        function deferred(method) {
            if (window.$ !== undefined)
                method();
            else
                setTimeout(function() {deferred(method);}, 50);
        }

        deferred(function() {
            $(document).ready(function() {
                $(".video_container").parents(".page_container").find(".header").hide();
                $(".video_container").parents(".page_container").find(".argument").hide();
            });
        });
    </script>
{% endif %}