{% if response.values is defined %}
    {% if (settingRow['javascript_minify'] == 1) %}
        {% set javascriptMinify = ".min.js" %}
    {% else %}
        {% set javascriptMinify = ".js" %}
    {% endif %}
    
    <div class="video_container">
        {{response.values.video|raw}}
    </div>
    <div class="command_container user_select_none">
        <div class="move_container">
            <i class="material-icons icon move_up">arrow_upward</i>
            <i class="material-icons icon move_right">arrow_forward</i>
            <i class="material-icons icon move_down">arrow_downward</i>
            <i class="material-icons icon move_left">arrow_back</i>
        </div>
        <div class="action_container">
            <i class="material-icons icon action_video">videocam</i>
            <i class="material-icons icon action_photo">photo_camera</i>
        </div>
    </div>
    <script nonce="{{php_session.xssProtectionValue}}" src="{{asset("js/system/control_panel/IpCamera" ~ javascriptMinify)}}"></script>
    <script nonce="{{php_session.xssProtectionValue}}">
        "use strict";
        
        function deferred(method) {
            if (window.$ !== undefined)
                method();
            else
                setTimeout(function() {deferred(method);}, 50);
        }

        deferred(function() {
            $(document).ready(function() {
                $(".video_container").parents(".page_container").find(".header").hide();
                $(".video_container").parents(".page_container").find(".argument").hide();
                
                ipCamera.init();
                
                ipCamera.videoContainer();
                ipCamera.commandContainer();
            });
        });
    </script>
{% endif %}