{% if response.values is defined %}
    <div class="video_container">
        {{response.values.video|raw}}
    </div>
    <div class="command_container">
        <p>Commands</p>
    </div>
{% else %}
    {% trans %}ipCameraRender_1{% endtrans %}
{% endif %}